<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="PORT" value="COM5"/>
		<add key="Baudrate" value="115200"/>

		<add key="KeyHash" value="IoToxKey"/>
	</appSettings>
</configuration>